body{
	justify-content: center;
	align-items: center;
	
	display: flex;
	flex-direction: column;
	background-image: url(./images/inspiration-geometry.png);

	animation-name: background-flow;
	animation: background-flow 10s infinite;
	animation-timing-function: linear;
}
@keyframes background-flow{
	0%{
		background-position: 0;
	}
	100%{
		background-position: 412px;
	}
}

/* Rating Star Widgets Style */
.rating-stars ul{
	list-style-type: none;
	padding:  0 ;
}

.rating-stars ul > li.star {
	display: inline-block;
}

/* Idle state of the stars */
.rating-stars ul > li.star > i.fa {
	font-size: 2.5em;
	color: #ccc;
}

/* Hover state of stars */
.rating-stars ul > li.star.hover > i.fa {
	color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa{
	color: #FF912C;
}

/*image slider*/
img{
	height: 600px;
	width: auto;
}
.direction button{
	font-size: 2.5em;
	margin: 5px;
	background-color: blue;
	color: white;
	border:none;
}
.image-slider{
	display: flex;
	width: 200vw;
	position: relative;
}
